<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF=8">
    <meta name="author" content="Hyunsoo Cho">
    <title>Scammed</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Scammed</h1>
    <p>Congratulations, Mr. Sissons! You're tricked by me!</p>
    <p>Copyright @ Hyunsoo Cho, All right reserved</p>
    <p>Server powered by render</p>
    <a href="Render.com"><img src="render.png" alt="Render"></a>
    <p>Code generation by GitHub(Well first time I wrote code with notepad)</p>
    <a href="https://github.com/hsc30181/scammed"><img src="github-mark.png" alt="GitHub"></a>
  </body>
</html>
