<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF=8">
    <meta name="author" content="Hyunsoo Cho">
    <title>Scammed</title>
    <style>
      h1{
        font-family:"Google Sans Code", monospace;
        font-optical-sizing:auto;
        font-weight:bold;
        font-style:normal;
      }
      p {
        font-family:"Google Sans Code", monospace;
        font-optical-sizing:auto;
        font-weight:normal;
        font-style:normal;
      }
    </style>
  </head>
  <body>
    <h1>Scammed</h1>
    <p>Congratulations, Mr. Sissons! You're tricked by me!</p>
    <p>Copyright @ Hyunsoo Cho, All right reserved</p>
    <p>Server powered by render</p>
    <a href="https://render.com" target="_blank"><img src="https://raw.githubusercontent.com/hsc30181/scammed/main/templates/img/render.png" alt="Render"></a>
    <p>Code generation by GitHub(Well first time I wrote code with notepad)</p>
    <a href="https://github.com/hsc30181/scammed" target="_blank"><img src="https://raw.githubusercontent.com/hsc30181/scammed/main/templates/img/github-mark.png" alt="GitHub - Author's Repository"></a>
  </body>
</html>
